/* CSS Geral */
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Barra de Menus e Navegação */
nav{
    background-color: #eef1ec;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu img{
    margin: 10px;
    width: 85%;
}

#menu ul li{
    display: inline-block;
    width: 15%;
    text-align: center;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 50px;
}

#menu ul li a{
    text-decoration: none;
    color: #4f81bb;
    height: 100%;
}

nav li:hover{
    font-weight: bolder;
}

/* Estilo do Campus */

#campus{
    background-image: url('img/fundo-campus.jpg');
    background-size: 100%;
    color: #FFFFFF;
    padding: 10%;
    margin-top: 5%;
}

#campus h1{
    font-size: 1.5rem;
}


#campus p{
    font-size: 1.25rem;
}

/* Estilo dos cursos */

#cursos{
    background-color: #ffffff;
    padding: 10%;
}

#cursos h1{
    font-size: 2rem;
}


/* Estilo dos depoimentos */

#depoimentos{
    background-color: #eef1ec;
    padding: 10%;
}

.item-depoimento{
    display: inline-block;
    width: 50%;
}

.item-depoimento img{
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 50%;
}

.item-depoimento p{
    text-transform: capitalize;
    font-style: italic;
    padding: 10%;
    text-indent: 20%;
}

/* Estilo dos comentários */

#mural{
    background-color: #FFFFFF;
    padding: 10%;
}

#formulario{
    display: inline-block;
    margin: 5%;
    padding: 5%;
    width: 25%;
    background-color: #eef1ec;
}

#lista-comentarios{
    display: inline-block;
    margin: 5%;
    padding: 5%;
    width: 25%;
}

#lista-comentarios div{
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 10px;
    
}

#mural textarea{
    display: block;
    width: 80%;
    margin: auto;
    height: 100px;
}

#mural input{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

#mural button{
    display: block;
    width: 80%;
    height: 45px;
    margin: 10%;
}

/* estilo do rodapé */
footer{
    background-color: #eef1ec;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-top: 1px #aaaaaa;
}

/* Estilo do app */

#app{
    background-color: #eef1ec;
    padding: 10%;
}

#imagem-user{
    position: relative;
    width: 60%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    margin-left: 20%;
    text-align: center;
    min-height:  50px;
}

#imagem-fundo{
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    width: 100%;
    z-index: -1;
}

#imagem-logo{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 15%;
}

#ferramentas{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    padding: 50px;
    background-color: #FFFFFF;
}
#ferramentas div{
    margin: 15px;
}

#imagem-texto{
    display: inline-block;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    left: 0px;
    bottom: 0px;
    color: #FFFFFF;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow:2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0px 2px 0 #000,
                2px 0px 0 #000,
                0px -2px 0 #000,
                -2px 0px 0 #000,
                2px 2px 5px #000;
}

.botao{
    background-color: #2f9e40;
    padding: 4px;   
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botoes-posicao{
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

#botoes-posicao div{
    margin: 0px;
    padding: 0px;
}

#arquivo{
    display: none;
}

.coluna{
    display: inline-block;
    text-align: center;
    width: 45%;
}